# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Code/Parking.Model/nbproject/private/
/Code/Parking.Storage.Repository.MySQL/nbproject/private/
/Code/Model/nbproject/private/
/Code/Storage/Repository/MySql/nbproject/private/
/Code/Core/build/
/Code/Core/dist/
/Code/Model/dist/
/Code/Model/build/
/Code/Storage/Repository/MySql/dist/
/Code/Storage/Repository/MySql/build/
/Code/Core/nbproject/private/
/Code/Parking.Ontology/nbproject/private/
/Code/Ontology/nbproject/private/
/Code/Ontology/build/
/Code/Ontology/dist/